# every exchange is defined in [exchanges] sections
[exchanges] 
    [NAME]  # name of exchange (label)
        
        module=exchange.so   # name of module (so file)
        
        [profiles]   # section of preconfigured profiles
            
            [NAME]   # name of profile
            
                [credentials]  # fields required for api 
                    key_name=<api key ident>
                    secret=<secret hash>
                [accounts]      #list of accounts
                    [NAME]      
         
